<header>
  <div class="header">
    <a class="site-back" href="{{settings.main_site_link}}">
      <div class="logo">
        <div class="site-name">
          {{settings.site_name1}}
        </div>
        <img src="{{settings.logo}}" alt="{{t 'home_page' name=help_center.name}}">
        <div class="site-name">
          {{settings.site_name2}}
        </div>
      </div>
    </a>
    <div class="gg-phone-num">
      <i class="fa fa-phone" aria-hidden="true"></i>
      {{settings.phone_number}}
    </div>
    <div class="nav-wrapper">
      {{user_info}}
    </div>
  </div>
  <div class="primary-nav-wrapper">
    <div class="hamburger-menu">
      <span class="icon-menu" tabindex="0" role="button" aria-controls="user-nav" aria-expanded="false" aria-label="{{t 'toggle_navigation'}}">Menu</span>
    </div>
  </div>
</header>
