<section class="section hero">
  <div class="hero-inner">
    <h1>{{settings.help_center_name}}</h1>
    <h4>{{settings.help_center_subtitle}}</h4>
    {{search submit=false instant=settings.instant_search class='search search-full'}}
  </div>
</section>

<div class="container">
  <section class="section knowledge-base">
    <section class="categories blocks">
      <ul class="blocks-list">
        {{#each categories}}
          {{#if ../has_multiple_categories}}
          <li class="blocks-item">
            <a href='{{url}}' class="blocks-item-link">
              <h4 class="blocks-item-title">{{name}}</h4>
              <p class="blocks-item-description">{{excerpt description}}</p>
            </a>
          </li>
          {{else}}
            {{#each sections}}
              <li class="blocks-item">
                <a href='{{url}}' class="blocks-item-link">
                  {{#is name 'State Laws'}}<i class="material-icons">gavel</i>{{/is}}
                  {{#is name 'Federal Laws'}}<i class="material-icons">account_balance</i>{{/is}}
                  {{#is name 'Parts Resources'}}<i class="material-icons">developer_board</i>{{/is}}
                  {{#is name '80% Lower and Frame Code and Compatibility FAQ'}}<i class="material-icons">code</i>{{/is}}
                  {{#is name 'New User FAQs'}}<i class="material-icons">how_to_reg</i>{{/is}}
                  {{#is name 'Installing Software or Firmware'}}<i class="material-icons">save</i>{{/is}}
                  {{#is name 'Software and Firmware'}}<i class="material-icons">dvr</i>{{/is}}
                  {{#is name 'General Milling Operation FAQs'}}<i class="material-icons">extension</i>{{/is}}
                  {{#is name 'Pistol Milling Operation FAQs'}}<i class="material-icons">device_unknown</i>{{/is}}
                  {{#is name 'AR-15 and AR-308 Milling Operation FAQs'}}<i class="material-icons">open_in_browser</i>{{/is}}
                  {{#is name 'Error Messages, Codes, and Alarms'}}<i class="material-icons">error</i>{{/is}}
                  {{#is name 'Calibration and Factory Reset'}}<i class="material-icons">refresh</i>{{/is}}
                  {{#is name 'User Serviceable Repairs'}}<i class="material-icons">build</i>{{/is}}
                  {{#is name 'GG1 and GG2 (With V1 Spindle) Upgrades'}}<i class="material-icons">store</i>{{/is}}
                  {{#is name 'Ordering and Policies'}}<i class="material-icons">payment</i>{{/is}}
                  <h4 class="blocks-item-title">
                    {{name}}
                  </h4>
                  <p class="blocks-item-description">{{excerpt description}}</p>
                </a>
              </li>
            {{/each}}
          {{/if}}
        {{/each}}
      </ul>
      {{pagination}}
    </section>

    {{#if promoted_articles}}
      <section class="articles">
        <h3>{{t 'promoted_articles'}}</h3>
        <ul class="article-list promoted-articles">
          {{#each promoted_articles}}
            <li class="promoted-articles-item">
                <a href="{{url}}">
                  {{title}}

                  {{#if internal}}
                    <span class="icon-lock" title="{{t 'internal'}}"></span>
                  {{/if}}
                </a>
            </li>
          {{/each}}
        </ul>
      </section>
    {{/if}}
  </section>
  <section class="section activity">
    {{#if settings.show_recent_activity}}
      {{recent_activity}}
    {{/if}}
  </section>
</div>
